@import '../../Assets/Styles/mixin.scss';

.navbar-container{
    width: 100vw;
    height: 7vh;
    background-color: rgba(30, 31, 31, 0.5);
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $infoFont;

    ul{
        display: flex;
        align-items: center;

        li{
            list-style: none;
            padding: 0 20px;
            a{
                text-decoration: none;
                color: $bg1;
                font-size: 20px;
            }
        }
    }

    button{
        cursor: pointer;
        color: $bg1;
        font-family: $infoFont;
        background-color: transparent;
        border: 1px solid $bg1;
        margin: 0 20px;
        padding: 5px 10px;

        &:hover{
            color: $bg6;
            border: 1px solid $bg6;
        }
    }
}