@import '../../Assets/Styles/mixin.scss';

.hero-container{
    width: 100vw;
    height: 100vh;
    background: url("../../Assets/images/sushi-main5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .hero-wrapper{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: auto;

        h1{
            text-align: center;
            font-size: 7rem;
            font-family: $junaiTitle;
            color: $bg1;
            text-shadow: 4px 4px rgba(255, 0, 0, 0.5);
        }

        h4{
            width: 70%;
            font-family: $infoFont;
            color: $bg1;
            letter-spacing: 1px;
            margin-top: 5px;
            font-size: 1.3rem;
            margin-bottom: 10px;
        }
        
        p{
            font-family: $infoFont;
            color: $bg1;
            letter-spacing: 1px;
            margin-top: 5px;
            font-size: 1.3rem;
        }
        .hero-options{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-family: $infoFont;

            a{
                padding-left: 10px;
                color: $bg1;
                text-decoration: none;
                font-size: 1.1rem;
            }
        }
    }
}
